<h1>Constelaciones</h1>
<p>
      Una constelación, en astronomía, es el límite en que está dividida la bóveda celeste, cada una está conformada por una agrupación convencional de estrellas, cuya posición en el cielo nocturno es aparentemente invariable. Los pueblos, generalmente de civilizaciones antiguas, decidieron vincularlas mediante trazos imaginarios, creando así siluetas virtuales sobre la esfera celeste. En la inmensidad del espacio, en cambio, las estrellas de una constelación no necesariamente están localmente asociadas; y pueden encontrarse a cientos de años luz unas de otras. Además, dichos grupos son completamente arbitrarios, ya que distintas culturas han ideado constelaciones diferentes, incluso vinculando las mismas estrellas.

Algunas fueron ideadas hace muchos siglos por los pueblos que habitaban las regiones del Medio Oriente y el Mediterráneo. Otras, las que están más al sur, recibieron su nombre de los europeos en tiempos más recientes al explorar estos lugares hasta entonces desconocidos por ellos, aunque los pueblos que habitaban las regiones australes ya habían nombrado sus propias constelaciones de acuerdo a sus creencias.

Se acostumbra a separar las constelaciones en dos grupos, dependiendo el hemisferio celeste donde se encuentren:

constelaciones septentrionales, las ubicadas al norte del ecuador celeste
constelaciones australes, al sur.
A partir de 1928, la Unión Astronómica Internacional (UAI) decidió reagrupar oficialmente la esfera celeste en 88 constelaciones con límites precisos, tal que todo punto en el cielo quedara dentro de los límites de una figura. Antes de dicho año, eran reconocidas otras constelaciones menores que luego cayeron en el olvido; muchas, ya no se recuerdan. El trabajo de delimitación definitiva de las constelaciones fue llevado a cabo fundamentalmente por el astrónomo belga Eugène Joseph Delporte y publicado por la UAI en 1930.
</p>