<h1>Planetas</h1>
<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://p4.wallpaperbetter.com/wallpaper/969/315/829/5bf4df50c5197-wallpaper-preview.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://www.explica.me/__export/1624904207499/sites/debate/img/2021/06/28/planetas_con_anillos_crop1624901665323.png_172596871.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://www.caracteristicas.co/wp-content/uploads/2018/10/planetas-4-e1583546801577.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://www.caracteristicas.co/wp-content/uploads/2018/10/pluton-e1583547862887.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://www.caracteristicas.co/wp-content/uploads/2019/02/saturno-1-e1587054738432.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://www.caracteristicas.co/wp-content/uploads/2018/09/jupiter-3-e1578861666795.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
</div>
<!-- Gallery -->

<h1>Constelaciones</h1>
<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://img.blogs.es/anexom/wp-content/uploads/2020/09/constelaciones-osa-mayor.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://img.blogs.es/anexom/wp-content/uploads/2020/09/constelaciones-osa-menor.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://img.blogs.es/anexom/wp-content/uploads/2020/09/constelaciones-tauro.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src=""
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://uploads.vibra.co/1/2021/01/nombres-de-constelaciones-2.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://uploads.vibra.co/1/2021/01/nombres-de-constelaciones-3.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
</div>
<!-- Gallery -->
